USE [igroup109_test2]
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertMovie]    Script Date: 23/05/2025 02:02:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Eden>
-- Create date: <04-05-2025>
-- Description:	<Inserts movies into the database>
-- =============================================
ALTER PROCEDURE [dbo].[SP_InsertMovie]
    @url NVARCHAR(255),
    @primaryTitle NVARCHAR(255),
    @description NVARCHAR(255),
    @primaryImage NVARCHAR(255),
    @year INT,
    @releaseDate DATE,
    @language NVARCHAR(50),
    @budget FLOAT,
    @grossWorldwide FLOAT,
    @genres NVARCHAR(200),
    @isAdult BIT,
    @runtimeMinutes INT,
    @averageRating FLOAT,
    @numVotes INT,
    @priceToRent INT = NULL  -- ✅ תוספת חשובה
AS
BEGIN
    IF @priceToRent IS NULL
        SET @priceToRent = FLOOR(RAND() * 21) + 10;

    INSERT INTO MoviesTable (
        url, primaryTitle, description, primaryImage, year, releaseDate, language, budget,
        grossWorldwide, genres, isAdult, runtimeMinutes, averageRating, numVotes,
        priceToRent, rentalCount, deletedAt
    )
    VALUES (
        @url, @primaryTitle, @description, @primaryImage, @year, @releaseDate, @language, @budget,
        @grossWorldwide, @genres, @isAdult, @runtimeMinutes, @averageRating, @numVotes,
        @priceToRent, 0, NULL
    )
END
